/* @import url('https://fonts.googleapis.com/css?family=Roboto|Inconsolata'); */

/* These are some default, site wide styles*/

/*
 * Default text: white

 * Link         : white
 * Link hover   : #ACDEFF

 * Navbar       : #303f9f 1
 * Navbar Hover : #3949ab  2
 * Navbar Click : #3949ab  2

 * Button       : #3f51b5   3
 * Button Active: #3949ab  2

 * Header       : #3949ab  2
 * Main         : #3f51b5   3
 * Footer       : #303f9f     5

 * Article card : #303f9f 1
 * Circle icon  : #3f51b5   3
 */

/* IE8 support, *grumble grumble*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Define colors here, to make color changing easier :) */

nav,
article.card .circle-icon,
.button {
  background-color: #688ba2;
}

article.card {
  background-color: #24627f;
}

nav span>a:hover,
nav .icon:hover,
nav #nav-toggle:checked~.icon,
nav span.selected:not(.logo) a,
nav span:not(.logo)>a:active,
.button:active {
  background-color: #24627f;
}

/* The color for header needs to be separate from above because IE8
 * refuses to color it right otherwise for some reason
 */

header {
  background-color: #24627f;
}

body,
main {
  background-color: #043549;
}

footer {
  background-color: #031634;
}

.warning {
  background-color: #e65100;
}

/* Some basic body/html stuff to remove borders/margins */

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: white;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

a:hover {
  color: #E8DDCB;
}

/* Navbar */

nav,
nav span,
nav span>a,
nav .icon,
nav #nav-toggle~.icon,
nav span.logo,
nav span.logo a {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav {
  width: 100%;
  height: 50px;
  color: white;
  font-family: 'Roboto', sans-serif;
  z-index: 99;
  overflow: hidden;
  position: absolute;
  top: 0;
}

nav+* {
  margin-top: 50px;
}

nav span>a {
  float: left;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

nav span.logo a {
  padding: 0;
}

nav span.selected a {
  pointer-events: none;
  cursor: default;
}

nav span.selected:not(.logo) a,
nav span:not(.logo)>a:active,
nav #nav-toggle:checked~.icon {
  -webkit-box-shadow: inset 0px 5px 0px 0px #fff;
  box-shadow: inset 0px 5px 0px 0px #fff;
}

nav span.logo a {
  height: 50px;
  border-left: 0 solid white;
}

nav span.logo img {
  margin: 5px;
}

nav .icon {
  float: right;
  display: none;
  padding: 0 15px;
  height: 50px;
}

/* burg */

/* 1 and 2 colons for ie8 support :( */

.hamburger-icon::before,
.hamburger-icon:before {
  border: 1px solid white;
  -webkit-transform: translate(-1px, -6px);
  -ms-transform: translate(-1px, -6px);
  transform: translate(-1px, -6px);
  width: 14px;
  display: block;
  content: '';
}

.hamburger-icon::after,
.hamburger-icon:after {
  border: 1px solid white;
  -webkit-transform: translate(-1px, 3px);
  -ms-transform: translate(-1px, 3px);
  transform: translate(-1px, 3px);
  width: 14px;
  display: block;
  content: '';
}

.hamburger-icon {
  -webkit-transform: translate(0px, 25px);
  -ms-transform: translate(0px, 25px);
  transform: translate(0px, 25px);
  border: 1px solid white;
  width: 14px;
  height: 0px;
}

nav #nav-toggle {
  display: none;
}

nav span.logo.selected a,
nav span.logo:hover a {
  border-left: 5px solid white;
}

/* TODO: Check for redundant css? */

.button {
  display: inline-block;
  text-align: center;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: none;
  margin: 4px 4px 0 0;
  padding: 10px 16px;
  border-radius: 2px;
  min-width: 88px;
  border: none;
  white-space: nowrap;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6.5px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6.5px 3px;
  color: #FFF;
}

/* The basic layout stuff */

header {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  z-index: 10;
}

header .title {
  color: #fff;
  font-size: 2em;
  margin: 0 10%;
}

header .subtitle {
  color: #eceff1;
  font-size: 1.25em;
  margin: 0 10%;
}

header .title small {
  color: #eceff1;
  font-size: 50%;
}


main {
  color: white;
  padding: 15px 5%;
  min-height: calc(100vh - 200px);
  font-family: 'Roboto', sans-serif;
}

main>p {
  margin: 35px 5%;
}

/* Footer with credits */

footer {
  color: #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 7.5px 15px;
  margin-top: 40px;
  text-align: center;
}

footer p {
  margin: 5px 0;
}

.circle-icon {
  border-radius: 50%;
}

/* Cards */

/*
 * +-------+----------------+
 * | (I) | words words      |
 * |     | words words      |
 * |     | [BUTTON]         |
 * +-------+----------------+
 */

article.card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6.5px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6.5px 3px;
  padding: 40px;
  min-height: 100px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 2px;
  padding-left: 125px;
}

article.card .circle-icon {
  float: left;
  text-align: center;
  font-size: 2em;
  line-height: 75px;
  width: 75px;
  height: 75px;
  margin-left: -100px;
}

/* Whoa responsive */

@media screen and (max-width: 700px) {
  article.card {
    margin: 0;
    margin-bottom: 15px;
  }
  main {
    padding: 15px;
  }
}

/* Some little helpful styles */

.code {
  display: inline;
  font-family: 'Inconsolata', monospace;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 2px;
}

header.alert {
  color: white;
  text-align: center;
  padding: 5px;
}

.skills .detail-3 {
  margin-left: 10px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 5px;
}

.skills li {
  margin-top: 5px;
}

.dark-stripes {
  background-image: -webkit-repeating-linear-gradient(45deg, #aaa0, #aaa0 30px,
   #00000025 30px, #00000025 60px);
  background-image: -o-repeating-linear-gradient(45deg, #aaa0, #aaa0 30px, #00000025 30px,
   #00000025 60px);
  background-image: repeating-linear-gradient(45deg, #aaa0, #aaa0 30px, #00000025 30px,
   #00000025 60px);
}

@media screen and (max-width: 375px) {
  main {
    padding: 15px 5px;
  }
  nav {
    overflow: visible;
  }
  nav span:not(.logo),
  nav span:not(.logo) a {
    display: block;
    width: 100%;
  }
  nav span:not(.logo) {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  nav span:not(.logo) a {
    background-color: #688ba2;
  }
  nav span:not(.logo):last-child a {
    border-bottom: 4px solid #24627f;
  }
  nav span:not(.logo) a:hover {
    background-color: #24627f;
  }
  nav #nav-toggle:checked~span:not(.logo) {
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
  }
  nav span:not(.logo) a {
    padding: 15px 0;
  }
  nav span.selected:not(.logo)>a,
  nav span:not(.logo)>a:active {
    -webkit-box-shadow: inset 5px 0px 0px 0px #fff;
    box-shadow: inset 5px 0px 0px 0px #fff;
  }
  nav .icon {
    display: inline-block;
  }
  article.card {
    padding: 15px;
  }
  article.card .circle-icon {
    margin: 0 auto;
    display: block;
    float: none;
  }
}

/* Various-detail resume */

.hide-detail-2 .detail-2,
.hide-detail-2 .detail-3,
.hide-detail-3 .detail-3 {
  display: none;
}

.detail-slider-container,
.detail-slider-container span {
  text-align: center;
  display: block;
}

.photo-container {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  height: 1000px;
  border: 2px solid white;
  background-color: #688ba2;
}

.photo {
  position: absolute;
  border: 8px solid white;
  background-color: white;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
  height: 300px;

  -webkit-animation: unflip 0.5s forwards;
  animation: unflip 0.5s forwards;
}

.photo img {
  height: 300px;
  width: 100%;

  -webkit-animation: unhideOnFlip 0.5s forwards;
  animation: unhideOnFlip 0.5s forwards;
}

.photo img::-moz-selection {
  background: none;
}

.photo img::selection {
  background: none;
}

.photo.selected {
  border: 8px solid red;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6.5px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 6.5px 3px;
}

.photo.flipped-ie {
  background-color: #24627f;
}

.photo.flipped-ie img {
  visibility: hidden;
}

/* Real browsers will get a cool flip effect for photos */
.photo.flipped {
  -webkit-animation: flip 0.5s forwards;
  animation: flip 0.5s forwards;
}

.photo.flipped img {
  -webkit-animation: hideOnFlip 0.5s forwards;
  animation: hideOnFlip 0.5s forwards;
}

/* unflip are their own keyframes because i couldn't get backwards/reverse to do what i wanted */
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    background-color: #24627f;
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #24627f;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    background-color: #24627f;
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #24627f;
  }
}

@-webkit-keyframes unflip {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #24627f;
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    background-color: #24627f;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes unflip {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #24627f;
  }
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    background-color: #24627f;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes hideOnFlip {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes hideOnFlip {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes unhideOnFlip {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes unhideOnFlip {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
